{% extends 'base.html' %}
{% block content %}
    {% for article in articles %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="/article/{{article.id}}">
                <h2 class="post-title">{{article.title}}</h2>
                <h3 class="post-subtitle">{{article.content|slice:"90"}}...</h3>
            </a>
            <p class="post-meta">
                Posted
                on {{article.created_at}}
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
{% endblock %}

